body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pageCentre{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}



header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCollCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRowSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.fs-20 {
    font-size: 20px;
}

.fs-15 {
    font-size: 15px;
}

.mgTop-50px {
    margin-top: 50px;
}

.mgTop-20px {
    margin-top: 20px;
}

input[type="tel"] {
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

p {
    margin: 0;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 100px;
    text-align: center;
}

.zoneResultat{
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 13px;
    width: 150px;
}
.box{
    width: 90%;
}
.zoneResultatText{
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100px;
    width: 100%;

}

@media screen and (max-width: 400px){ 
    .pageCentre{
        width: 90%;
    }
    .zoneResultatText{
        font-size: 10px;
    }
    
}
